:root {
  --primary: rgb(22, 137, 252);
  --primary-text: #ffffff;
  --secondary: #099efa;
  --secondary-link: rgb(255, 255, 0);
  --secondary-text: #ffffff;
  --accent: #6a6a6acd;
  --accent-text: #ffffff;
}
