:root {
  --primary: rgb(22, 137, 252);
  --primary-text: #ffffff;
  --secondary: #099efa;
  --secondary-link: rgb(73, 2, 255);
  --secondary-text: #ffffff;
  --accent: #03000038;
  --accent-text: rgb(3, 73, 147);
  --text: #02f0fc;
}
